.project > img{
    width:350px;
    height:179px;
    border-radius: 8px;
}

.project{
    margin: 15px;
    width: 350px;
    height: 179px;
    transition:transform 100ms ease-in;
    object-fit: cover;
    border-radius: 8px;
}
.project:hover{
    color: white;
    background-color: #f64c08;
    transform:scale(1.05);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.project__content{
    padding:10px;
}

.project__content>h4{
    padding-bottom: 5px;
}

.project__content{
    font-size: 15px;
}